<div id="<%= dom_id boilerplate %>" class="boilerplate">
  <p>
    <strong>Name:</strong>
    <%= boilerplate.name %>
  </p>

  <p>
    <strong>Git link:</strong>
    <%= boilerplate.git_link %>
  </p>

  <p>
    <%= link_to "Show this boilerplate", boilerplate %>
  </p>

</div>
