<h1>Editing boilerplate</h1>

<%= render "form", boilerplate: @boilerplate %>

<br>

<div>
  <%= link_to "Show this boilerplate", @boilerplate %> |
  <%= link_to "Back to boilerplates", boilerplates_path %>
</div>
