<p style="color: green"><%= notice %></p>

<h1>Boilerplates</h1>

<div id="boilerplates">
  <% @boilerplates.each do |boilerplate| %>
    <%= render boilerplate %>
  <% end %>
</div>

<%= link_to "New boilerplate", new_boilerplate_path %>
